.popular-class-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    
}
.popular-instructor-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 40px;
    
}